# Copyright (c) 2015-2016, NVIDIA CORPORATION. All rights reserved.
/build
*.gcov
/coverage/
nccl-*/
.DS_Store
test/sharedmem
test/thread_coll
test/ipv6_socket
test/*.dSYM/
libnccl-net.dylib
libnccl-net.so
*.log